.App {
  text-align: center;
}

.Credits-Container{
  border:solid;
  justify-self: center;
}

.Contacts{
  border: solid;
}

.Deals-Category {
  /* text-align: center; */
  display: grid;
  background-color: rgba(37, 204, 247, 1);
  border: solid;
  grid-template-areas:
    "category directions directions pageSize"
    "nothing4  searchBar searchBar nothing6"
    "nothing2 buttons buttons nothing7";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin: 10px;
}

.Free-Videogame-Thumbnails {
  border: solid;
}

.searchBar {
  grid-area: searchBar;
}

.category {
  grid-area: category;
}

.direction {
  grid-area: directions;
}

.pageSize {
  grid-area: pageSize;
}

.pageButtons {
  grid-area: buttons;
}


.Deals-Container {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 10px;
}

.Deals {
  background-color: #c8d6e5;
  border: solid;
  margin: 5px;
  height: auto;
  width: 315px;
}
.Deals-Store-Container {
  border: solid;
  background-color: rgba(236, 204, 104, 1);
  margin: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Free-Container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5px;
}

.Free {
  background: #c8d6e5;
  border: solid;
  margin: 5px;
  width: 375px;
}

.Free-Store-Category {
  background-color: rgba(37, 204, 247, 1);
  border: solid;
  display: grid;
  grid-template-areas: 
  "nothing nothing nothing nothing"
  "freeSort  freeFilter freePlatforms freePlatforms" ;
grid-template-columns: 1fr 1fr 1fr ;
grid-template-rows: 1fr 1fr;
margin: 10px;
}

.nav-links {
  display: flex;
  border: solid;
  background-color: #30336b;
  justify-content: space-evenly;
  text-shadow: 1px 1px black;
  margin: 10px;
  padding: 5px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;


    
}
.nav-links a {
  padding-left: 50px;
  padding-right: 50px;
}

.nav-links a.active {
  border: solid;
  transition: all 500ms;
  background: rgb(48, 51, 107);
  background: linear-gradient(
    90deg,
    rgba(48, 51, 107, 1) 0%,
    rgba(33, 34, 107, 1) 10%,
    rgba(33, 34, 107, 1) 90%,
    rgba(48, 51, 107, 1) 100%
  );
  transform: scale(1.09);
}

.Next-Page {
  background-color: rgba(72, 84, 96, 1);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  grid-area: next;
}

.Page {
  font-size: larger;
  background-color: red;
}

.Previous-Page {
  background-color: rgba(72, 84, 96, 1);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  grid-area: last;
}

.Rating-Percentage {
  color: #3a0ca3;
}

.Video-Game-Thumbnails {
  width: 250px;
}

.Categories {
  border: solid;
  background: rgba(248, 239, 186, 1);
  width: 368px;
  height: 470px;
}

.Deals-searchBar {
  width: 275px;
}

@media(max-width:1000px){
  .nav-links{
    display: grid;
    font-size: .75em;
  }
}